<?xml version="1.0" encoding="utf-8"?>
<manifest
   xmlns:android="http://schemas.android.com/apk/res/android"
   android:versionCode="@string/versioncode"
   android:versionName="@string/version"
   package="org.smblott.intentradioio">
      <uses-sdk android:minSdkVersion="16" />
      <application android:label="@string/app_name" android:icon="@drawable/intent_radio"></application>
</manifest>
